## A2 Working with a Single Table
### ITlab, Summer 2019

Review the discussion in the NB Anatomy of Select.  Everything needed for this part of the assignment is discussed.

Hints have also been given for each question.

In [1]:
%load_ext sql

%sql postgres://isdb@localhost/postgres

'Connected: isdb@postgres'

**[Q1] What are the first and last years the data has information about the Olympics?**

_Hint: `edition` refers to the year of the olympics.  Find the min and max_

In [2]:
%%sql
select min(edition), max(edition)
  from Medalists

 * postgres://isdb@localhost/postgres
1 rows affected.

[(1900, 2008)]

Ans:
+------+------+
| min  | max  |
+------+------+
| 1900 | 2008 |
+------+------+

**[Q2] According to the data when were the first EVENTS held in Winter? (The question is NOT about when the Winter Olympics started.)**

_Hint: similar to Q1 but with a filter (the predicate in the WHERE clause)_

In [3]:
%%sql
select min(edition)
  from Medalists
 where season = 'Winter'

 * postgres://isdb@localhost/postgres
1 rows affected.

[(1908,)]

Ans:
+------+
| min  |
+------+
| 1908 |
+------+

**[Q3] AUT and LIE are two countries that have won more medals in the winter olympics than summer olympics.  Demonstrate this is the case by hard wiring AUT in your query**

_Hint: Filter by AUT and group by season_

In [4]:
%%sql

select season, count(medal)
  from Medalists
 where noc = 'AUT'
 group by season

 * postgres://isdb@localhost/postgres
2 rows affected.

[('Winter', 203), ('Summer', 141)]

Ans:
+--------+-------+
| season | count |
+--------+-------+
| Winter |  203  |
| Summer |  141  |
+--------+-------+

**[Q4] In 2008 list the medal winners (both men and women) in the 100m (the first year Usain Bolt won the gold). Order the result by gender (ascending) and medals (descending).  Note that medals will get sorted alphabetically in descending order as Silver, Gold, Bronze. We will see later how the medals can be sorted as Gold, Silver, Bronze.**

_Hint: Hinges on the appropriate filter_

In [5]:
%%sql

select *
  from Medalists
 where edition = '2008' and event = '100m'
 order by gender ASC, medal DESC

 * postgres://isdb@localhost/postgres
6 rows affected.

[(2008, 'THOMPSON, Richard', 'TRI', 'Men', '100m', 'Silver', 'Summer'),
 (2008, 'BOLT, Usain', 'JAM', 'Men', '100m', 'Gold', 'Summer'),
 (2008, 'DIX, Walter', 'USA', 'Men', '100m', 'Bronze', 'Summer'),
 (2008, 'SIMPSON, Sherone', 'JAM', 'Women', '100m', 'Silver', 'Summer'),
 (2008, 'STEWART, Kerron', 'JAM', 'Women', '100m', 'Silver', 'Summer'),
 (2008, 'FRASER, Shelly-ann', 'JAM', 'Women', '100m', 'Gold', 'Summer')]

Ans:
+---------+--------------------+-----+--------+-------+--------+--------+
| edition |      athlete       | noc | gender | event | medal  | season |
+---------+--------------------+-----+--------+-------+--------+--------+
|   2008  | THOMPSON, Richard  | TRI |  Men   |  100m | Silver | Summer |
|   2008  |    BOLT, Usain     | JAM |  Men   |  100m |  Gold  | Summer |
|   2008  |    DIX, Walter     | USA |  Men   |  100m | Bronze | Summer |
|   2008  |  SIMPSON, Sherone  | JAM | Women  |  100m | Silver | Summer |
|   2008  |  STEWART, Kerron   | JAM | Women  |  100m | Silver | Summer |
|   2008  | FRASER, Shelly-ann | JAM | Women  |  100m |  Gold  | Summer |
+---------+--------------------+-----+--------+-------+--------+--------+

**[Q5] Working under the assumption that the year the Winter Olympics started, there were at least 50 medals won, which year did the Winter Olympics start?** 

_Hint: As simple as this query seems it involves all clauses of a SELECT: WHERE / GROUP BY / HAVING / ORDER BY / LIMIT_

In [6]:
%%sql
select edition
  from Medalists
 where season = 'Winter'
 group by edition
having count(medal) >= 50
 order by edition asc
 limit 1

 * postgres://isdb@localhost/postgres
1 rows affected.

[(1924,)]

Ans:
+---------+
| edition |
+---------+
|   1924  |
+---------+

** [Q6] Aphabetically list all male athletes who won the 100m more than once **

_Hint: The filter and the grouping criterion are critical. Filter by 100m and Men; group by athlete and ???? ; retain groups that have more than one entry_

In [7]:
%%sql

select athlete, event, count(medal)
  from Medalists
 where gender = 'Men'
 group by athlete, event
having event = '100m'and count(medal) > 1
 order by athlete asc

 * postgres://isdb@localhost/postgres
8 rows affected.

[('BOLDON, Ato', '100m', 2),
 ('BORZOV, Valery', '100m', 2),
 ('CHRISTIE, Linford', '100m', 2),
 ('FREDERICKS, Frank', '100m', 2),
 ('GREENE, Maurice', '100m', 2),
 ('LEWIS, Carl', '100m', 2),
 ('METCALFE, Ralph', '100m', 2),
 ('MILLER, Lennox', '100m', 2)]

Ans:
+-------------------+-------+-------+
|      athlete      | event | count |
+-------------------+-------+-------+
|    BOLDON, Ato    |  100m |   2   |
|   BORZOV, Valery  |  100m |   2   |
| CHRISTIE, Linford |  100m |   2   |
| FREDERICKS, Frank |  100m |   2   |
|  GREENE, Maurice  |  100m |   2   |
|    LEWIS, Carl    |  100m |   2   |
|  METCALFE, Ralph  |  100m |   2   |
|   MILLER, Lennox  |  100m |   2   |
+-------------------+-------+-------+